.StripeElement--webkit-autofill {
	background: transparent !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

body {
  background-color: bisque;
}

button {
	display: block;
	font-size: 16px;
	width: calc(100% - 30px);
	height: 40px;
	margin: 40px 15px 0;
	background-color: #86B817;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
	border-radius: 4px;
	color: #fff;
	font-weight: 600;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
}

button:active {
	background-color:#39c926;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #e298d8;
	transform: scale(0.99);
}

.App {
	margin-left: 25%;
	margin-top: 5%;
	margin-right: 25%;
}

h1,
h3 {
	text-align: center;
  font-size: 30px;
}

#donatePage {
  text-align: center;
}

#five {
	display: grid;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
	width: 200px;
}