<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../Login/index.css">
</head>
<body>
<header class="loginHeader">
    <h1>
    <span style="color: red">e</span>
    <span style="color: blue">b</span>
    <span style="color: yellow">a</span>
    <span style="color: #86B817">y</span>
    <span style="color: Blue">Buddy</span>
    </h1>
</header>
    <div class="mainContainer">
        <div class='login'>
            <h2>Login</h2>
            <label>Username:</label>
            <input type="text" name="Username" required />
            <br />
                    <label>Password:</label>
                    <input type="password" name="password" required />
        </div>
            <div class="submitBtn">
                <input type="submit" />
            </div>
        <h2>Sign Up</h2>
        <div class ='signup'>
            <label>Username:</label>
            <input type="text" name="Username" required />
            <br />
                    <label>Password:</label>
                    <input type="password" name="password" required />
        </div>
        <div class="submitBtn">
            <input type="submit" />
        </div>
    </div>

    
</body>
</html>
