body {
    background-color: #86B817;
}

.loginHeader {
    background-color: white;
    height: 100px;
}

.mainContainer {
    background-color: #86B817;
    text-align: center;
}

.login, .signup {
    border: solid white 3px;
    margin: 5px;
    padding: 20px;
    padding-bottom: 60px;
}

.submitBtn {
    margin: 20px;
    padding: 10px;
}